@charset "utf-8";
/**
* project : global.css
* version : 1.0
* last change : 2013.03.08
* Author : www.1008a.com
*
*/
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,code,form,fieldset,legend,input,textarea,select,optgroup,option,p,blockquote,th,td {margin:0; padding:0;}
fieldset,img{border:0;}
html,body{ height:100%;}
address,caption,cite,code,dfn,em,i,th,var,optgroup{font-style:normal; font-weight:normal;}
ins{text-decoration:none;}
li{list-style:none;}
table{font-size:inherit; border-collapse:collapse;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym {border:0; font-variant:normal;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
input,button,textarea,select{margin:0; *font-size:100%; line-height:1.2;}
input,textarea,select{outline:none;}
a img,img{-ms-interpolation-mode:bicubic;}

/* clear float */
.cls{*zoom:1;}
.cls:after{display:block; visibility:hidden; clear:both; content:'.'; height:0;}

/* heml5 new tags */
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;} 

/* 去除ie6/7按钮的黑边 */
.no-black , input[type=submit], input[type=reset], input[type=button]{ *filter:chroma(color=#000000);}