@charset "utf-8";
/**
* project : global.css
* version : 1.0
* last change : 2013.03.08
* Author : www.1008a.com
*
*/
@import url(global.css);
.container{width:auto; height:100%; padding:0 20px 20px; }
a[title="站长统计"]{ display:none;}
pre{ margin:20px 0; }
.linenums li{ list-style-type: decimal;}
h1{ font-size:26px; line-height: 40px;}
h2{ font-size:24px; line-height: 36px;}
h3{ font-size:20px; line-height: 32px;}
h4{ font-size:16px; line-height: 28px;}
h5{ font-size:14px; line-height: 24px;}
h6{ font-size:12px; line-height: 20px;}